html{
  font-size: 62.5%;
}

*{
  font-size: 1.6rem;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;

  
}
a{
  text-decoration: none;
  color: inherit;
}
:root{
  --color-lightTheme-sidebar: #6439ff;
  --color-darkTheme-background: #222;
  --color-darkTheme-font: rgba(255,255,255,  0.5);
}

