.widget-container{
    flex:1;

    display: flex;
    justify-content: space-between;
    
    height: 100px;
    padding: 10px;

    border-radius: 10px;
    box-shadow: rgba(211, 205, 205, 0.6) 0px 5px 15px;

    .widget-leftSide, .widget-rightSide{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.widget-leftSide{
    .widget-title{
        font-weight: 700;
        color: rgb(171, 170, 170);
    }

    .widget-counter{
        font-size: 35px;
        font-weight: 500;
    }

    .widget-link{
        text-decoration: underline;
        text-underline-offset: 0.2rem;
        width: max-content;
        font-size: 1.5rem;
        cursor: pointer;
        font-weight: 600;
        opacity: 0.7;
    }
}

.widget-rightSide{
    align-items: flex-end;

    .widget-percentage{
        &.positive{
            color: rgb(67, 196, 67);
        }
        &.negative{
            color: rgb(67, 196, 67);
        }
        display: flex;
        align-items: center;
    }

    .widget-icon{
        font-size: 2.5rem;
        border-radius: 7px;
        padding: 5px;
    }
}